<!--
  Generated template for the DetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="barra">

    <ion-title class="barra">
    	<span class="barra">Editar Gasto</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list class="lista">
	  <ion-item>
	    <ion-label floating>Id</ion-label>
	    <ion-input type="number" [(ngModel)]="gasto.id" value="{{gasto.id}}" [disabled]=true></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Name</ion-label>
	    <ion-input type="text" [(ngModel)]="gasto.name" value="{{gasto.name}}"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Date</ion-label>
	    <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="gasto.date"></ion-datetime>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Monto</ion-label>
	    <ion-input type="number" [(ngModel)]="gasto.monto" value="{{gasto.monto}}"></ion-input>
	  </ion-item>
	  <button ion-button (click)="editarGasto(gasto)">Guardar</button>
	</ion-list>
</ion-content>
