<ion-header >
  <ion-navbar color="primary">
    <ion-title  class="barra">
      <span class="barra">Gastos</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="irAgregar()">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button ion-button icon-only >
        <ion-icon name="md-plus"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-list class="lista" >
  	<ion-item-sliding #item *ngFor="let gasto of gastos" >
    <ion-item (click)="inicializarGasto(gasto)" >
      <h2>{{gasto.name}}</h2>
      <p style="color: #000"> <span class="monto">Monto: </span>{{gasto.monto}}</p>
	</ion-item>
	    <ion-item-options side="right" >
	      <button color="danger" ion-button (click)="eliminarGasto(gasto)" >
	    	<ion-icon name="md-trash"></ion-icon>
	      	Eliminar
	  	  </button>
        </ion-item-options>
	</ion-item-sliding>
  </ion-list>
</ion-content>
