a {
  cursor: pointer;
}

.centrar {
  text-align: center;
}

.icono-i {
  margin-right: 12%;
}

.i-color {
  color: red;
}

.d-color {
  color: darkcyan;
}

.espacio {
  margin-top: 1%;
}
.sobreponer {
  z-index: 115;
  position: relative;
  display: block;
  text-align: center;
}
