<div class="container">

  <div *ngIf="bandera" class="alert alert-{{tipo}} alert-dismissible fade show espacio sobreponer " role="alert">
    <strong>{{mensaje}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Aplicacion-->
  <div id="app" class="row pt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header centrar">
          <h4>Agregar Gasto</h4>
        </div>
        <form clas="card-body" #formgasto="ngForm" (ngSubmit)="agregarGasto(formgasto)">
          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="gastoService.gastoSeleccionado.id">
          <div class="form-group">
            <input type="text" placeholder="Nombre Gasto" class="form-control" name="name" #name="ngModel" [(ngModel)]="gastoService.gastoSeleccionado.name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="fecha (AAAA-MM-DD)" class="form-control" name="date" #date="ngModel" [(ngModel)]="gastoService.gastoSeleccionado.date">
          </div>
          <div class="form-group">
            <input type="number" placeholder="Monto Gasto" class="form-control" name="monto" #monto="ngModel" [(ngModel)]="gastoService.gastoSeleccionado.monto">
          </div>
          <input type="submit" name="agregar" value="Guardar" class="btn btn-primary btn-block">
        </form>
      </div>

    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <th class="centrar">Nombre</th>
          <th class="centrar">Fecha</th>
          <th class="centrar">Monto</th>
          <th class="centrar">Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let gasto of gastoService.gastos">
            <td class="centrar">{{gasto.name}}</td>
            <td class="centrar">{{gasto.date}}</td>
            <td class="centrar">{{gasto.monto}}</td>
            <td class="centrar">
              <a (click)="editarGasto(gasto)" class="icono-i">
                <i class="fas fa-pencil-alt d-color" data-toggle="tooltip" data-placement="top" title="Editar Gasto"></i>
              </a>
              <a (click)="eliminarGasto(gasto.id)">
                <i class="fas fa-trash i-color" data-toggle="tooltip" data-placement="top" title="Eliminar Gasto"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
