<!--
  Generated template for the AgregarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="barra">
    <ion-title class="barra">Agregar Gasto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list class="lista">
	  <ion-item>
	    <ion-label floating>Name</ion-label>
	    <ion-input type="text" [(ngModel)]="gasto.name"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Date</ion-label>
	    <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="gasto.date"></ion-datetime>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Monto</ion-label>
	    <ion-input type="number" [(ngModel)]="gasto.monto"></ion-input>
	  </ion-item>
	  <button ion-button (click)="agregarGasto(gasto)">Agregar</button>
	</ion-list>

</ion-content>
